.traffic-lights {
  margin-top: 20px;
  width: 200px;
  max-width: 100%;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #333333;
  background-color: #adadad;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 0 auto;
}

.traffic-lights__links {
  width: auto;
  display: flex;
  justify-content: center;
  padding: 10px;

  a {
    margin: 0 10px;
    font-size: 20px;
  }
}
